<link rel="stylesheet" href="css.css">

<html>
	<head>
		<title>
			1
		</title>
	<head>
	<body>

		<div class="register_window"></div>

		<div class="shadow_window"></div>

		<div class="register_window">
			<div class="register_title">Регистрация</div>
			<input type="text" name="" class="input_reg_name" placeholder="email">
			<input type="password" name="" class="input_reg_pass" placeholder="пароль">
			<input type="password" name="" class="input_reg_pass" placeholder="повторите пароль">
			<div class="register_window_button"><span class="register_window_button_text">Зарегестрироваться</span></div>
		</div>


		<div class="login_window">
			<div class="login_title">Вход</div>
			<input type="text" name="" class="input_login_name" placeholder="email">
			<input type="password" name="" class="input_login_pass" placeholder="пароль">
			<div class="login_window_button"><span class="login_window_button_text">Войти</span></div>
		</div>



		<div class="header_">
			<a href="" class="logo_link">
			<div class = "logo">
				#No<span class="logo_green">Queue</span>Life
			</div>
			</a>


			<div class="top_info">
				
				<div class="blue_circle"></div>
				<span class="online">  Пользователей онлайн: 12</span>
				
				<span class="yellow_circle"></span>
				<span class="last">  Последний заказ: 12</span>
			</div>


			<div class=header_right>
				<div class="reg_button"> <span class="reg"> Регистрация </span></div>
				<div class="log_in">Вход</div>
				<div class="flag_block">
					<div class="flag_out">
						<div>
							<img src="ua.jpg" class="flag">
						</div>
					</div>
				</div>
			</div>
		</div>

		<span class="under_header">175 услуг доступно</span>

		<div class="main">
			<div class="price_block">
				
				<div class="price">Цена</div>
				<div class="price_range">100 руб.</div>
				<div class="price_range">200 руб. - 400 руб.</div>
				<div class="price_range">800 руб. - 1500 руб.</div>
				
				<div class=price_form>
					<input type="text" name="" class="input_from" placeholder="От руб.">
					<span class="price_"> - </span>
					<input type="text" name="" class="input_to" placeholder="До руб.">
				</div>
				
				<div class="city_form">
					<span class="city">Город</span>
					<input type="text" name="" class="input_city" placeholder="Москва">
				</div>
			</div>

			<div class="ads">

				<div class="ads_container">
					<div class="first_row">
						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div> </a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"> <img src="ava.png"> </div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"> <img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>
					</div>

					
					<div class="first_row">
						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>
					</div>

					
					<div class="first_row">
						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>

						<a href="">
						<div class="container_column">
							<div class="col_ads">
								<img src="pict.jpg" class="ads_img">
								<div class="ads_info">
									<div class="avatar"><img src="ava.png"></div>
									<div class= "name">pasha</div>
									<div class= "description">Отстою за Вас очередь в любом районе Москвы. Только нерабочие дни.</div>
									<img src="star.png" class="star">
									<span class="rating">4.9</span>
									<span class="quantity">(39)</span>
									<div class="line"></div>
									<span class="price_rub">500 &#8381;</span>
								</div> 
							</div>	
						</div></a>
					</div>
				</div>
			</div>
		</div>

		


		<a href="" class="reload_link"><div class="reload"> <span class="reload_text"> Обновить <span></div></a>

		<div class="footer">
			<div class="footer_logo">
				<span class="span_logo_footer">#NQL</span>
			</div>

			<a href="https://vk.com/pavelmescheryakov" target="_blank"><img src="vk.png"></a>
			<a href="" ><img src="tw.png"></a>
			<a href="" ><img src="fb.png"></a>
			<a href="" ><img src="in.png"></a>
			<a href="" ><img src="tg.png"></a>
		</div>


		


		



	</body>
</html>